<h1>Cart</h1>

<div class="cart-content">
  {{#if courses.length}}
    <table class="uk-table uk-table-striped uk-table-middle">
      <thead>
        <tr>
          <th>Title</th>
          <th>Price</th>
          <th>Count</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>{{title}}</td>
            <td class="price">{{price}}</td>
            <td>{{count}}</td>
            <td>
              <button class="uk-button uk-button-danger deleteFromCart" data-id="{{id}}">Delete</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <p>Total price: <span class="total-price price">{{price}}</span></p>
    <form action="/orders" method="POST">
      <button class="uk-button uk-button-primary">Order</button>
    </form>
  {{else}}
    <p>Your have empty cart</p>
  {{/if}}
</div>