<div class="uk-container">
  <article class="uk-article">

    <h1 class="uk-article-title">{{course.title}}</h1>
    <img src="{{course.img}}" alt="{{course.title}}">

    <p class="uk-article-meta">Created at <span class="date">{{price.created}}</span>.


    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div class="price">
            {{course.price}}
        </div>
    </div>

</article>
</div>