<h1>Edit course - {{ course.title }}</h1>

<form method="POST" action="/courses/edit">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Here you can add your course</legend>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-title">Title</label>
            <input class="uk-input" required type="text" name="title" id="form-title" value="{{course.title}}">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-price">Price</label>
            <input class="uk-input" required type="text" name="price" id="form-price" value="{{course.price}}">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-url">IMG URL</label>
            <input class="uk-input" required type="text" name="img" id="form-url" value="{{course.img}}">
        </div>

        <input type="text" hidden name="id" value="{{course.id}}">

        <button type="submit" class="uk-button uk-button-primary">Edit</button>

    </fieldset>
</form>

<form action="/courses/delete" method="POST" class="uk-margin-top">
    <input type="text" hidden name="id" value="{{course.id}}">
    <button type="submit" class="uk-button uk-button-danger">Delete</button>
</form>